*{margin: 0px;padding: 0px;}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div,select{margin:0;padding:0;font-family:"Microsoft yahei";color:#333;font-size: 12px;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol,li,p,br{list-style:none;}
a{text-decoration:none;color: #333;outline:none;}
a{blr:expression(this.onFocus=this.blur());color: #888}/*a标签在获得焦点的同时失去焦点,按下鼠标图片周边不会出现虚线*/
:focus{outline:0;}
a:hover{text-decoration: underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;vertical-align: middle;display: block;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{font-size: 62.5%;}
.clearfix:after{ content:"."; display:block; clear:both; height:0; visibility:hidden}
.clearfix{ zoom:1;}
